<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cervezas</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{asset('css/cervezas.css')}}">
  </head>
  <body>
    <div class="w3-card">
      <img class="imgCard" src="{{cerveza.foto}}" alt="Cerveza">
      <div class="w3-container">
        <h3 class="tituloCerveza">{{cerveza.nombre}}</h3>
        <p class="poblacion_pais">{{cerveza.poblacion}} - {{cerveza.pais}}</p>
        <div class="contenedorTipoCerveza">
          <div class="tipoCerveza">
            <h4>{{cerveza.tipo}}</h4>
          </div>
          <div class="importacionCerveza">
            {% if cerveza.importacion == true %}
              <p>(De importación)</p>
            {% endif %}
          </div>
        </div>
        <p><strong>Tamaño: </strong>{{cerveza.tamanyo}}</p>
        <p><strong>Fecha: </strong>{{cerveza.fechaAlmacen|date('Y-m-d')}}</p>
        <p>{{cerveza.cantidad}} unidades</p>
      </div>
    </div>
  </body>
</html>
